.waitListSection {
  height: 100vh;
  background: #f3f6ff url("../img/menu/backgroundMenu-sm.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 200px;

  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  background-color: #f4eddd;
  /* flex-wrap: wrap; */
}
.waitlistContainer {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 75px 30px 75px 30px;
  background-color: #f4eddd;
  --widgets-spacing: 20px;
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
  /* flex-wrap: wrap; */
  box-shadow: 0px 0px 4px -3px black;
}
.waitListwrap {
  display: flex;
  flex-wrap: wrap;
}
.LeftWaitListContainer h2 {
  color: #273c89;
  font-family: "Aileron", Sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.LeftWaitListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.RightWaitListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.RightWaitListContainer div {
  font-family: "Aileron", Sans-serif;
  font-size: 19px;
  font-weight: 900;
  line-height: 28.8px;
  color: #273c89;
}

.WaitListImgclock {
  /* position: relative; */
  margin-bottom: 35px;
}
.WaitListImgbook {
  /* position: relative; */
  margin-bottom: 30px;
}
.WaitListImgplate {
  /* position: relative; */
  margin-bottom: 20px;
}
.clockImg {
  /* position: absolute;
  left: -60px;
  top: -8px; */
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.bookImg {
  /* position: absolute;
  left: -60px;
  top: -8px; */
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.platespoonImg {
  /* position: absolute;
  left: -60px;
  top: -8px; */
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.JoinTheWaitlistButton {
  font-family: "Aileron", Sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.6px;
  background-color: #273c89;
  border-radius: 0px 0px 0px 0px;
  padding: 16px 0px 17px 0px;
  color: white;
  border: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1496px) {
  .LeftWaitListContainer h2 {
    font-size: 40px;
  }
  .clockImg {
    width: 30px;
    height: 30px;
  }

  .bookImg {
    width: 30px;
    height: 30px;
  }

  .platespoonImg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 850px) {
  .LeftWaitListContainer h2 {
    font-size: 40px;
  }
}
@media (max-width: 1080px) {
  .waitlistContainer {
    flex-direction: column;
    padding: 40px;
  }
  .LeftWaitListContainer h2 {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
  .RightWaitListContainer {
    margin-top: 25px;
  }
  .waitListSection {
    padding: 100px;
  }
}
@media (max-width: 650px) {
  .waitListSection {
    padding: 30px;
  }
}
@media (max-width: 650px) {
  .LeftWaitListContainer h2 {
    font-size: 22px;
    line-height: 30px;
  }
}
