/bin/
*.classpath
*.project
*.settings
**/bin/
**/.classpath
**/.project
**/.settings

/target/
**/target/
**/test-output/

*.idea/
**/.idea/

*.iml
/logs/
/logs/*.log
**/*.log

__pycache__
data

/venv/
**/venv/
