#pageContainer {
  padding-left: 300px;
}

#home {
  width: 100%;
  height: 100vh;
  background: url("../img/backgroundBlog.png") top center;
  background-color: #f3f6ff !important;
  background-size: cover;
}

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 370px;
  top: 150px;
  height: 498px;
  overflow: hidden;
}

.homeSectionRight {
  background-color: #ecc36c;
  width: 30vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  padding: 20px 30px 20px 40px;
  height: 100%;
}

.homeSectionRight h2 {
  color: #273c89;
  font-family: "Aileron", Sans-serif, serif;
  font-weight: 900;
  margin-bottom: 15px;
  margin-top: -50px;
}

.homeSectionRight p {
  color: #273c89;
  font-family: "Aileron", Sans-serif, serif;
  font-size: 20px;
  margin-top: 25px;
  line-height: 24px;
}

.homeSectionLeft {
  position: relative;
  width: 40vw;
  height: 124%;
  overflow: hidden;
  padding-top: 56.25%;
}

.waitlistButton {
  background-color: #273c89;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 42px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -64px;
}

.waitlistButton:hover {
  background-color: #000000;
}

.responsive-iframe {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  border: none;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 1199px) {
  #home {
    height: 107vh;
  }

  .homeSection {
    flex-direction: column;
    left: 0px;
    right: 0;
    top: 150px;
    height: 100%;
    overflow: hidden;
    top: 306px;
  }

  .homeSectionRight {
    height: 100%;
    width: 80vw;
    margin-bottom: 8px !important;
  }

  .homeSectionLeft {
    height: 100%;
    width: 80vw;
  }

  .waitlistButton {
    margin-bottom: 60px;
  }

  .homeSectionRight h2 {
    margin-top: 0px;
  }

  .responsive-iframe {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 600px) {
  #home {
    height: 107vh;
  }

  .waitlistButton {
    margin-bottom: 0px;
  }

  .homeSection {
    height: 100%;
  }

  .homeSectionRight {
    padding: 10px;
  }

  .homeSectionRight h2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .homeSectionRight p {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .homeSectionRightPar {
    font-style: inherit;
    font-weight: inherit;
  }

  .sloganPar {
    margin-top: -4px !important;
    font-style: inherit;
    font-weight: inherit;
  }

  .responsive-iframe {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 500px) {
  .waitlistButton {
    width: 105%;
    margin-left: -9px;
  }
}

@media (max-width: 470px) {
  .waitlistButton {
    width: 106%;
    margin-left: -9px;
  }
}

@media (max-width: 370px) {
  .waitlistButton {
    width: 107%;
    margin-left: -9px;
  }
}