
.mainButton {
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #273c89;
  padding: 13px 10px 14px;
  font-size: 16px;
  line-height: 19px;
  font-family: "Aileron", Sans-serif, serif;
  width: 100%;
  color: white;
  margin-top: 15px;
}

.marginTop-20 {
  margin-top: 20px;
}

.marginBottom-10 {
  margin-bottom: 10px;
}
