/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 100;
  padding: 0 15px;
  background-color: #273c89;
  color: white;
  box-shadow: 10px 0px 60px 0px rgb(0 0 0 / 10%);
}

#header .logo img {
  display: block;
  width: 150px;
  margin: 115px auto 30px;
}

#header .logo h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .logo .social-links a:hover {
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  margin-top: -22px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link:focus,
.nav-link:hover {
  color: white !important;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  padding: 6px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 900;
  font-family: "Aileron", Sans-serif, serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.navbar li a {
  text-align: center;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: white;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  border-bottom: 1px solid #96784a;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: absolute;
  right: 39px;
  top: 192px;
  z-index: 101;
  border: 0;
  font-size: 42px;
  transition: all 0.4s;
  outline: none !important;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

@media (max-width: 1024px) {
  .nav-menu a,
  .nav-menu a:focus {
    padding: 8px 15px;
    font-size: 20px;
  }
}

@media (max-width: 1199px) {
  .headerMobile {
    display: flex;
  }
}

.loginButton {
  border: 1px solid white;
  width: 170px;
  padding-top: 4px !important;
}

.loginButton:hover > a {
  background-color: white;
  color: #273c89 !important;
}

.loginButton:hover {
  background-color: white;
}

.loginButton a:hover {
  border-bottom: none;
}
