.emptyPage {
  height: 100vh;
}

.pBottom-1{
  padding-bottom: 1rem;
}

.pBottom-2{
  padding-bottom: 2rem;
}

.mBottom-1{
  margin-bottom: 1rem;
}

.mBottom-2{
  margin-bottom: 2rem;
}

.pLR-1{
  padding: 0 1em;
}

.pALL-1{
  padding: 1em;
}

.w50{
  width: 50%;
}

.w100{
  width: 100%;
}

.size27{
  width: 27px;
  height: 27px;
}

.centeredItems{
  justify-content: center;
  align-items: center;
}

#pageContainerRasiol {
  padding-left: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/menu/backgroundMenu-sm.png') no-repeat center center/cover;
  background-color: #f4eddd;
  color: #273C89;
  font-family: "Aileron", Sans-serif;
}

#homeSection{
  padding-top: 3em;
  height: 100%;
  /* border: 8px solid greenyellow; */
}

#homeSection p{
  font-size: 18px;
  font-weight: 400;
}

#menuHeader{
  height: 300px;
  width: 100%;
  background: url('../img/menu/headerMenu.jpg') no-repeat center center/cover;
}

#menuPageContainer{
  /* border: 5px solid rgb(78, 0, 0); */
  height: 100%;
}

#menuContainerWrapper{
  border: 1px solid #273C89;
  padding: 2em;
  width: 100%;
  height: 100%;
  position: relative;
  background: #f4eddd;
}

#menuContainer{
  border: 1px solid #ecc36c;
  padding: 2em 4em;
  height: 100%;
}

.leadHeader{
  color: #ecc36c;
  font-size: 36px;
  font-weight: 800;
  line-height: 43.2px;
  text-shadow: 3px 2px 0px #273c89;
}

.leadParagraph{
  font-size: 18px;
}

#homeSection h3{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 1rem;
}

#menuTitle{
  color: #273C89;
}

/* #menuInnerContainer{
  border: 3px solid green;
} */

#borderAround{
  /* border: 3px solid crimson; */
  margin-bottom: 1em;
}

.textCenter{
  text-align: center;
}

.flexContainer{
  display: flex;
}

.flexContainer p{
  text-align: left;
}

.flexColumnContainer{
  display: flex;
  flex-direction: column;
}

.menuTitle{
  position: absolute;
  top: -105px;
  left: 22%;
}

/* Breakfast */
.BreakFastMenuTitle {
  background-color: #ecc36c;
  padding: 4em 10em;
}

.BreakFastMenuTitle > h2 {
  color: #273C89;
  font-size: 45px;
  font-weight: 800;
}

.breakfastServing{
  padding-top: 30px;
}

.breakfastServing h2{
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.breakfastBottom{
  padding: 8em;
}

.otherMenuItems{
  font-size: 18px;
}