.merchandiseProduct {
  /* background: red; */
  /* height: 1000px; */
  padding: 180px 75px 140px 120px;
}
.merchandiseHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categories {
  /* display: inline-block; */
  display: flex;
  position: relative;
  /* border: 1px solid yellow; */
}
.merchandiseHeader {
  font-size: 20px;
  font-family: "Aileron", Sans-serif !important;
  color: #273c89;
  font-weight: 900;
  padding-right: 70px;
}
.selsectACaetogries {
  border-bottom: 0.5px solid #273c89 !important;
  width: 222px;
  padding-bottom: 4px;
}
.selsectACaetogries::before {
  position: absolute;
  content: ">";
  right: 0;
  transform: rotate(90deg);
  font-family: monospace;
  top: 0;
  bottom: 0;
  right: 7px;
}
.coloneInCategories {
  border-radius: 100%;
  font-family: system-ui;
  margin-right: 10px;
}
.defaultShortingDiv {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  align-items: flex-end;
  /* height: 150px; */
  margin-top: 12px;
}
.defaultShorting {
  position: relative;
  font-size: 20px;
  font-family: "Aileron", Sans-serif !important;
  color: #273c89;
  font-weight: 900;
  border-bottom: 0.5px solid #273c89 !important;
  width: 187px;
  padding-bottom: 4px;
}
.defaultShorting::before {
  position: absolute;
  content: ">";
  right: 0;
  transform: rotate(90deg);
  font-family: monospace;
  top: 0;
  bottom: 0;
  right: 4px;
}
.merchaindiseHeaderLogo {
  position: absolute;
  right: 37px;
}
.selsectAC.selsectACaetogries {
  border-bottom: 0.5px solid #273c89 !important;
}
.caetogries {
  border-bottom: 0.5px solid #273c89 !important;
}
.searchBar {
  position: relative;
}
.searchBar input {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 0.5px solid #273c89 !important;
}
.sortByText {
  display: none;
}
.searchbarImage {
  position: absolute;
  right: 0;
  width: 29px;
  bottom: 6px;
}
.merchandiseProductImage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 30px;
  grid-gap: 50px;
  /* padding: 10px; */
  padding-top: 100px;
}

.Mproduct {
  border-color: #f4eddd;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 0px 0px 0px 0px;
}
.MnameOfProduct {
  font-family: "Aileron", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #273c89;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 20px;
}
.MpriceOfProduct {
  font-family: "Aileron", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 21.6px;
  color: #273c89;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 20px;
  margin-top: 11px;
}
.MnameOfProduct a {
  color: #273c89;
}
.Mproduct img:hover {
  cursor: pointer;
}
.Mproduct a img {
  width: 100%;
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .merchandiseProduct {
    padding: 80px 40px !important;
  }
}

@media (max-width: 1024px) {
  .merchandiseProduct {
    padding: 30px 30px 30px 30px;
  }
  .merchandiseProductImage {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
  .MnameOfProduct {
    padding-top: 10px;
  }
}
@media (max-width: 768px) {
  .merchaindiseHeaderLogo {
    display: none;
  }
  .sortByText {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Aileron", Sans-serif !important;
    color: #273c89;
    font-weight: 900;
    /* border: 1px solid red; */
    margin-top: 45px;
    /* padding-right: 53px; */
  }
  .MnameOfProduct img {
    display: none;
  }
  .MnameOfProduct {
    justify-content: center;
    align-items: center;
  }
  .MpriceOfProduct {
    justify-content: center;
    align-items: center;
  }
  .MpriceOfProduct img {
    display: none;
  }
  .searchBar {
    display: none;
  }
  .defaultShortingDiv {
    justify-content: flex-end;
    margin-top: 30px;
    flex-direction: column;
  }
  .merchandiseHeader {
    justify-content: center;
    /* flex-direction: column; */
    margin-top: 15px;
    padding-right: 0;
  }
  .categories {
    flex-direction: column;
  }
  .selsectACaetogries {
    margin-top: 20px;
  }
  .textCateogry {
    text-align: center;
  }
  .selsectACaetogries::before {
    top: inherit;
  }
  .merchandiseProductImage {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
  }
}
@media (max-width: 546px) {
  .defaultShorting {
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1800px) {
  .MnameAndPriceContainer {
    padding: 10px 15px !important;
  }
}
